.HomePage {
	margin: auto;
	width:  50%;

	.title {
		text-align: center;
		font-size:  128px;
	}

	.buttons {
		display:         flex;
		flex-direction:  column;
		margin:          auto;
		width:           50%;
		align-items:     center;
		justify-content: center;
		gap: 30px;
	}
}