.button {
	height:        clamp(60px, 8vw, 100px);
	width:         min(475px, 100%);
	font-size:     clamp(32px, 5vw, 64px);
	background:    var(--button-background);
	border-radius: 20px;
	border: var(--button-border-width) solid var(--button-border);

	@media (max-width: 480px) {
		border-radius: 14px;
	}
}