.Infos {
	margin: auto;

	.title {
		text-align:     center;
		font-size:      128px;
		margin-bottom:  20px;
		text-transform: capitalize;
		margin-top:     40px;

		&::before {
			content: "~"
		}

		&::after {
			content: "~"
		}
	}

	.section {
		max-width:  1200px;
		margin:     0 auto 80px;
		padding:    0 15px;
		text-align: center;
	}

	.sectionTitle {
		font-size:      70px;
		margin-bottom:  20px;
		text-transform: capitalize;
	}

	.sectionContent {
		font-size:   45px;
		line-height: 75px;
		font-weight: 400;
		white-space: pre-line;
	}

	.links {
		list-style:  none;
		padding:     0;
		margin:      30px 0 0;
		font-size:   35px;
		line-height: 60px;

		a {
			color:           inherit;
			text-decoration: underline;
		}
	}

	@media (max-width: 775px) {
		.title {
			font-size: 100px;
		}
		.sectionContent {
			font-size:   30px;
			line-height: 50px;
		}
		.links {
			font-size:   26px;
			line-height: 45px;
		}
	}

	@media (max-width: 700px) {
		.title {
			font-size:     80px;
			margin-bottom: 12px;
		}
	}

	@media (max-width: 580px) {
		.title {
			font-size:     70px;
			margin-bottom: 12px;
		}
	}
}
